BOT_TOKEN=""
CLIENT_ID=""
GUILD_ID=""
DATABASE_URL="postgresql://"
SHADOW_DATABASE_URL="postgresql://"
LOGS_CHANNEL_ID=""
TICKET_CHANNEL_ID=""
TICKET_LOG_CHANNEL_ID=""
MODERATION_LOG_CHANNEL_ID=""
SUPPORT_ROLE_ID=""
MEMBER_ROLE_ID=""
BOT_ROLE_ID=""
TRANSCRIPT_PORT=3000
TRANSCRIPT_BASE_URL="https://transcripts.nodebyte.host"

# Service Status Monitoring
# Game servers (IP or hostname)
NB_NEWCASTLE1_IP=""
NB_OMNI_FALKENSTEIN_IP=""
# Web services
WEBSITE_URL=""
BACKEND_URL=""
BILLING_URL=""
GAME_PANEL_URL=""